ul {
    list-style: none;
}

.buttonsNavAdmin {
    display: list-item;
    float: right;
    padding: 8px;
    background-color: #dddddd;
    padding: 10px;
    margin-right:3px;
    border-radius: 20px;
}

.buttonsNavAdmin:hover {
    background-color: #FCA311;
    padding: 10px;
}

.buttonsNavAdmin :disabled {
    background-color: #dddddd4f;
}