ul {
    list-style: none;
}



.buttonsNavAdmin * {
    display: list-item;
    float: right;
    background-color: #14213D;
    padding: 10px;
    margin-right:3px;
    border-radius: 20px;
}

.buttonsNavAdmin:hover {
    background-color: #FCA311;
    padding: 10px;

}

.buttonsNavAdmin :disabled * {
    background-color: #dddddd4f;
}