ul {
    list-style: none;
}



.buttonsNavAdmin * {
    display: list-item;
    float: right;
    background-color: #14213D;
    padding: 10px;
    color: white;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    transition-duration: 0s ;
}

.buttonsNavAdmin:hover * {
    background-color: #FCA311;
    color: white;
    top: 100;
    transition-duration: 0s ;
}

.buttonsNavAdmin :disabled * {
    background-color: #dddddd4f;
}