.navigation {
height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5vw;
}

.navigation img {
    width: 5vw;
    margin-left: 10px;
}
.navigation-menu {
    margin-left: auto;
}

.navigation-menu li {
    list-style-type: none;
    margin-right: 15px ;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
    transition: 0.3s;
    padding:3px;
    border-radius: 20px;

}

.navigation li a:hover {
    background-color: #7c8ccd;
    color: white;
} 

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #7c8ccd;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

.hamburger:hover {
    background-color: #2642af;
  }

@media screen and (max-width: 760px) {
    .navigation-menu.expanded ul {
        height: max-content;
        display: block;
    }
}

@media screen and (max-width: 760px) {
    .hamburger {
        display: block;
    }

    .navigation-menu ul {
      position: absolute;
      top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: white;
      border-top: 1px solid black;
      display: none;
    }

    .navigation-menu li {
      text-align: center;
      margin: 0;
    }

    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
      background-color: #eee;
    }
}


.search-bar {
    margin-top: 2vh;
    margin: 2vh 10vh 0vh 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw 0 10vw;
    align-items: center;
    height: 6vh;
    background-color: greenyellow;
}

.search-bar div {
    width: 4vw;
    padding: 0.3vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
