td, th {
    text-align: center;
    padding: 8px;
}

td {
    border-right: 1px solid #f8f8f8;
}

th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.cityButton {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: beige;
    font-size: 150%;
    text-align: center;
}

.cityButton:hover {
    background-color: #3e8e41;
}

select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.not-text-input:disabled {
    visibility: hidden;
}