.wrapper-grp-list {
    display: block;
    padding-top:5px;
}

.wrapper-grp-list li{
    list-style-type: none;

} 
.vos-groupes {
    float:left;
    font-size: 30px;
    font-weight: bolder;
}
.creer-groupe-wrapper{
    float:right;
    padding-right: 5px;
}


.button-list-grp * {
    margin-top: 8px;
    background-color:#FCA311;
}

.button-list-grp:hover * {
    background-color: #FCA311;
    color: white;
    top: 100;
    transition-duration: 0s ;
}

.wrapper-titre-bouton {
    margin : 15px 10px 15px 15px ;
}

.wrapper-list-group ul{
    padding: 20px 10px 0px 10px;
}

.groupe-box {
    margin: 10px 4px 0 4px;
    border: 2px solid #14213D;
    border-radius: 10px;
    vertical-align: top;
    background-color: rgba(240, 240, 240, 0.5);
}

.titre-groupe {
    font-size: 1.7em;
    color: #FCA311;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    vertical-align: top;
    margin-left: 0.5em;
    padding: 0px 10px 0px 10px;
    border: #14213D;
    border-bottom : 2px solid #14213D;
}

.membre-list {
    padding: 0px 10px 0px 20px;
}

.groupe-link {
    color:black;
    text-decoration: none;
}

.nav_Button{
    display: inline-flex;
    width: 100%;
}

.nav_Button li{
    background-color: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    transition-duration: 0s ;
    margin: 0 2% 0 2% ;
}

.buttons_Nav button{
    color: inherit;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    background-color: #14213D;
}

.buttons_Nav:hover button {
    background-color: #FCA311;
    color: inherit;
    color: white;
    transition-duration: 0s ;
}

.button_classical{
    
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #14213D;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
}

.button_classical:hover {
    background-color: inherit;
    background-color: #FCA311;
    transition-duration: 0s ;
}

.centre{
    text-align: left;
    align-items: left;
    float:right;
    margin-right: 2em;
}

.centre2{
    text-align: center;
    align-items: center;
    float:none;
}

@media screen and (max-width: 800px) {
    .nav_Button li{
        margin: 0 1% 0 1% ;
    }


}

