.wrapper-grp-list {
    display: block;
    padding-top:5px;
}

.wrapper-grp-list li{
    list-style-type: none;

} 
.vos-groupes {
    float:left;
    font-size: 30px;
    font-weight: bolder;
}
.creer-groupe-wrapper{
    float:right;
    padding-right: 5px;
}

.creer-groupe-wrapper button{
    margin-top: 8px;
    height: 35px;
    width: 200px;
}

.creer-groupe-wrapper button:hover{
    margin-top: 8px;
    background-color:rgb(209, 193, 224);
}

.creer-groupe-wrapper button a{
    text-decoration: none;
    color:black;
}

.wrapper-titre-bouton {
    margin : 15px 10px 15px 15px ;
}

.wrapper-list-group ul{
    padding: 20px 10px 0px 10px;
}

.groupe-box {
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    vertical-align: top;
    background-color: rgba(240, 240, 240, 0.5);
}

.titre-groupe {
    vertical-align: top;
    padding: 0px 10px 0px 10px;
}

.membre-list {
    padding: 0px 10px 0px 20px;
}

.groupe-link {
    color:black;
    text-decoration: none;
}

.nav_Button{
    display: inline-flex;
    width: 100%;
}

.nav_Button li{
    background-color: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    transition-duration: 0s ;
    margin: 0 2% 0 2% ;
}

.buttons_Nav button{
    color: inherit;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    background-color: #14213D;
}

.buttons_Nav:hover button {
    background-color: #FCA311;
    color: inherit;
    color: white;
    transition-duration: 0s ;
}

.centre{
    text-align: left;
    align-items: left;
    float:right;
    margin-right: 2em;
}
