#not_connected {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    padding: 1vw 1vh;
    width: 45vw;
    height: 25vh;
    margin: auto;
    margin-top: 15%;
    border-radius: 25px;
    box-shadow: rgba(94, 124, 138, 0.541) 0px 7px 29px 0px;
}

#title_not_connected {
    font-size: 3vw;
}

article {
    margin: 5vh 2vw 0 2vw;
    display: contents;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

section {
    margin: 2vh 5vw;
    padding: 10px 20px;
    width: 75%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(94, 124, 138, 0.541) 0px 7px 29px 0px;
    transition: all 0.5s;
}

section:hover {
    margin: 2vh 7vw;
}

.presentation_box {
    width: 17%;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.presentation_frame {
    display: flex;
    justify-content: center;
    margin: 0.5vh 2.25vw;
    color: #14213D;
}

.home_image{
    width:25em;
    min-width: 10em;
    
    height: auto;
}

h2 {
    padding: 0;
    margin: 0;
    color: #FCA311;
}

.slogan{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 350%;
    color: #FCA311;
}

.mainPicture{
    display: flex;
    justify-content: center;
}

.bienvenue {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #FCA311;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.oups{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #14213D;
}

@media screen and (max-width: 810px) {

    .presentation_box {
        width: 30%;
        padding: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    .presentation_frame {
        font-size: smaller;
        margin : 5vh 15% 2vh 15%;
        border-radius: 20px;
    }

    .slogan{
        font-size: 200%;
    }
}