.form--connexion-box {
    margin : 5vh 35% 2vh 35%;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 1400px) {
    .form--connexion-box {
        margin : 5vh 25% 2vh 25%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 810px) {
    .form--connexion-box {
        margin : 5vh 15% 2vh 15%;
        border-radius: 20px;
    }
}

.bienvenue {
    text-align: center;
    color: #FCA311;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)

}

form {
    padding-bottom: 1vh;
    text-align: center;
  
}

.input-connexion{
    background: transparent;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.input-connexion:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

.input-connexion:active {
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

.input-connexion::placeholder{
    background: transparent;
}

.text {
    margin-right : 5px;
}

.button-wrap {
    display: flex;
    justify-content: center;
}

.button-connexion {
    border-radius: 20px;
    background-color: #14213D;
    color: white;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    width: 50%;
    transition-duration: 0s ;
}

.button-connexion:hover {
    background-color: #FCA311;
    color: white;
    top: 100;
    transition-duration: 0s ;
}

.button-show {
    position: absolute;
    top: 155px;
    
}

.under-button {
    color: #14213D;
}

.under-button:hover {
    color: #FCA311;
}

