.form--connexion-box {
    margin : 5vh 35% 2vh 35%;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.bienvenue {
    text-align: center;
    color: #b7a9eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)

}

form {
    padding-bottom: 1vh;
    text-align: center;
    transition: all 0.2s ease-in-out;
  
}

.input-connexion{
    background: transparent;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.input-connexion:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

.input-connexion:active {
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

.input-connexion::placeholder{
    background: transparent;
}

.text {
    margin-right : 5px;
}

.button-wrap {
    display: flex;
    justify-content: center;
}

.button-connexion {
    border-radius: 20px;
    background-color: #b7a9eb;
    color: white;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    width: 50%;
}

.button-connexion:hover {
    background-color: rgb(235, 225, 225);
    color: #2b2c2b;
    border: 1px solid #000000;
}

