nav {
    padding: 2px;
}

ul.navButton {
    background-color: #dddddd;
  
}

.buttonsNav * {
    float: left;
    display: block;
    padding: 8px;
    background-color: #14213D;
    padding: 10px;
    margin-right:3px;
    color: white;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    transition-duration: 0s ;
    
}

.buttonsNav:hover {
    background-color: #FCA311;
    padding: 10px;
}