.offre {
    font-style: italic;
    text-decoration: underline;
    
}

.wrapper-notifications {
    text-align: center;
}

.notif:hover {
    transform: scale(1.1);
    box-shadow: 2% 2%;
    transition: all 0.5s;

}
.title {
    font-size: 25px;
    font-weight: bold;
}

.button-delete{
    color:red;
}