/* Dan, fais donc ta magie */

.pasFait {
    color: red;
}

.àAmeliorer {
    color: darkgoldenrod;
}

.fonctionnel {
    color: green;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin: 5vh 15vh 2vh 15vh;
    border: 1px solid #f1f1f1;
    padding-left: 1vh;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.liste-sans-puces{
    list-style-type: none;
    padding:0;
    margin: 0;
}

input:not(.not-text-input) {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.radiobutton {
    margin: 15px 8px 5px 15px;
}

.formulaire-submit {
    background-color: #b7a9eb;
    color: white;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
}

.formulaire-submit:hover {
    background-color: rgb(235, 225, 225);
    color: #2b2c2b;
    border: 1px solid #000000;
}

.par-pitié-sois-centré{
    left: 50%;
    margin-right: -50%;
}

.affichageActuel{
    height:250px;
    width: 70%;
    padding-left: 1vh;
    float:left;
    background: #fff;
}


.wrapper-profil {
    height: 250px;
    margin : 40px 10px 0px 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.wrapper-nav{
    float:right;
    margin-top: 40px;
    margin-right: 10px;
}

.Button-profil {
    margin-top: 8px;
    height: 50px;
    width: 200px;
}

.profil-infos {
    float : left;
}

.picture {
    float : left;
}

.wrapper-historique{
    margin : 40px 10px 0px 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}