/* Dan, fais donc ta magie */

.pasFait {
    color: red;
}

.àAmeliorer {
    color: darkgoldenrod;
}

.fonctionnel {
    color: green;
}

.modificationProfile_titre {
    text-align: center;
    color: #FCA311;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.strong {
    color: #FCA311;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)
}

.form-box {
    display: flex;
    flex-direction: column;
    margin: 5vh 15vh 2vh 15vh;
    border: 1px solid #f1f1f1;
    padding-left: 1vh;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color: #14213D;
}

.liste-sans-puces{
    list-style-type: none;
    padding:0;
    margin: 0;
}

.par-pitié-sois-centré{
    left: 50%;
    margin-right: -50%;
}

.affichageActuel{
    float:left;
    height:250px;
    width: 60%;
    padding-left: 1vh;
    background: none;
}

.wrapper_profil {
    margin : 5vh 1% 2vh 1%;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 250px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.wrapper_nav{
    float:right;
    margin-top: 40px;
    margin-right: 5px;
    
}

.Button_profil {
    margin-top: 8px;
    height: 50px;
    width: 200px;

    border-radius: 20px;
    background-color: #14213D;
    color: white;
    margin: 5px 0 5px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    transition-duration: 0s ;
}

.Button_profil:hover {
    background-color: #FCA311;
    color: white;
    top: 100;
    transition-duration: 0s ;
}

.profil_infos {
    float : left;
    width: max-content;
    color: #14213D;
}

.picture {
    float : left;
}

.wrapper-historique{
    margin : 40px 10px 0px 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

label {
    text-align: center;
    padding-right: 15px;
}

.index-button {
    margin-top: 8px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.index-bar {
    text-align: center;
}

input:not(.not-text-input) {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.radiobutton {
    margin: 15px 8px 5px 15px;
}

@media screen and (max-width: 710px) {

    .wrapper_profil {
        height: 600px;
        margin : 5vh 5% 2vh 5%;
        text-align: center;
        align-items: center;
        
    }

    .affichageActuel{
        float: none;
        text-align: right;
        margin: 0%;
    }

    .profil_infos {
        float : right;
        text-align: center;
        margin-right: -2.5em;
    }

    .picture{
        float: none;
        text-align: right;
        margin-right: -2em;
    }

    .Button_profil {
        float: none;
        margin-top: 8px;
        height: 50px;
        width: 400px;
    }

    .wrapper_nav{
        float: none;
        margin-top: 8em;
        text-align: center; 
    }

    .strong {
        text-align: right;
        margin-left: 0em;
        font-size: larger;
    }
}