.rating_form{
    align-items: center;
}

.star_button_pair {
    width: fit-content;
    min-width: 3vw;
    padding: 1vh 1vw;
    border-radius: 25px;
    margin-bottom: 2vh;
    margin-left: 1vw;

}

.user_stars {
    padding: 1vh 1vw;
    display: flex;
    border: 3px solid #14213D;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    accent-color: #FCA311;
    margin : 5vh 25% 5vh 25%;
    

}

@media screen and (max-width: 1112px) {
    .user_stars {
        margin : 5vh 15% 5vh 15%;
    }
}